body {background-color: #f8f8f8}
body {color: #000000;}
a {color: #FFFFFF}
nav {background-color: #7D7C7C;}
nav a {color: #ff0000;}
nav a:hover {background-color: #8b07f7;}
nav {padding: 10px}
nav {margin-bottom: 30px}
h1, h2 {color:#000000}
body {font-family:Georgia, 'Times New Roman', Times, serif;}
.evenrow {background-color: darkgrey;}
h1 {font-size: 3em; text-align: center;}
.intro {font-size: 1em; font-weight: 100; margin-left: 20px ;}
.skillname {font-size: 20px;}
.skills {display: flex;flex: 3;}

.others {background-color: #0961ae; padding: 20px; border: 2px solid #333333; margin: 30px; border-radius: 20px;}
.flexbox2 {display: flex; margin-top: 30px;}
.skills{justify-content: space-around;}
.skills{margin-top: 70px;}
.pyt{margin-top: 8px;}
.html {margin-top: 25px;}
.data {margin-top: 10px;}
.des {margin-top: 15px;}
@media only screen and (max-width: 700px) {nav a {width:100%; display:block; margin-bottom: 5px;}}
@media only screen and (max-width: 700px) {nav span {display:none}}
