body {background-color: #000000}
body {color: #F1EFEF;}
a {color: #FFFFFF}
nav {background-color: #7D7C7C;}
nav a {color: #44a1f2;}
nav a:hover {background-color: #8b07f7;}
nav {padding: 10px}
nav {margin-bottom: 30px}
